
.FlexCenter{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.primaryTitle{
    background-color: pink;
    color: rgb(40, 112, 201);
    min-width: 50%;
    padding: 2%;
    border-radius: 4px;
}

.Row{
    flex-direction: row;
    justify-content: space-evenly;
}

.Coluna{
    flex-direction: column;
}

.Formulario{
    min-width: 50%;
    min-height: 30%;
    border: solid 1px #c3c3c3;
    border-radius: 4px;
    justify-content: space-evenly;
    display: flex;
    color: rgb(40, 112, 201);
    background-color: pink;
    padding: 2%;
}

.Label{
    color: black;
    font-weight: bold;
    font-size: 1.3rem;
}

.Input{
    min-width: 50%;
    background-color: rgba(2, 2, 2, 0.469);
    border-top: 0ch;
    border-right: 0ch;
    border-left: 0ch;
    border-bottom: 1px solid #c3c3c3;
    height: 2rem;
    border-radius: 15px;
    color: white;
}

.Select{
    margin-left: 40px;
}

.Button{
    width: 8rem;
    padding: 0.3rem;
    background-color: rgb(38, 176, 38);
    font-size: 1.1rem;
    border-radius: 12px;
}