
.WinnerPanel{
    border: 1px solid pink;
    height: 10rem;
    width: 20rem;
    border-radius: 12px;
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    animation: Spin 0.5s  alternate infinite ease-in-out;
    font-size: 1rem;
}

.WinnerPanel:hover{
    border: 1px solid pink;
    height: 10rem;
    width: 20rem;
    border-radius: 12px;
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 10px pink;
    animation: none;
    transition: 0.5s;
}

.WinnerPanel:hover .WinnerName{
   font-size: 1.3rem;
    transition: 0.5s;
}

.WinnerMessage{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.WinnerName{
    background-color: pink;
    min-width: 40%;
    color: black;
    transition: 0.5s;
}

@keyframes Spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(5deg);
    }
}