.Card{
    width: 10rem;
    height: 10rem;
    border: 1px solid black;
    box-shadow: 4px 4px 10px 0px black;
    display:flex;
    transition: 0.2s;
}
.Card:hover{
    width: 10rem;
    height: 10rem;
    border: 1px solid black;
    box-shadow: 4px 4px 10px 0px green;
    display:flex;
    transition: 0.2s;
}

.Image{
    width: 100%;
}

.CardMini{
    width: 5rem;
    height: 5rem;
}

.CardMini:hover{
    width: 5rem;
    height: 5rem;
}